In [4]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [7]:
student_data = [
    [100,90,10],
    [90,70,7],
    [120,100,14],
    [80,50,2],
]

# pd.DataFrame(student_data)
df = pd.DataFrame(student_data, columns=['iq','marks','package'], index=['Risma','Maya','Sarah','Dina']) #index = Untuk mengubah nama baris
# df = pd.DataFrame(student_data, columns=['iq','marks','package']
df

        iq  marks  package
Risma  100     90       10
Maya    90     70        7
Sarah  120    100       14
Dina    80     50        2

In [8]:
df.columns = ['a','b','c'] # ganti nama kolom
df

         a    b   c
Risma  100   90  10
Maya    90   70   7
Sarah  120  100  14
Dina    80   50   2

In [9]:
# using dictionary

student_dict = {
    'iq': [100, 90, 80, 120, 0, 0], 
    'marks': [80, 70, 100, 90, 0, 0], 
    'package': [10, 7, 14, 2, 0, 0],
}

students = pd.DataFrame(student_dict)
students

    iq  marks  package
0  100     80       10
1   90     70        7
2   80    100       14
3  120     90        2
4    0      0        0
5    0      0        0

In [10]:
students[['iq','package']] # untuk mengambil nilai salah satu kolom

    iq  package
0  100       10
1   90        7
2   80       14
3  120        2
4    0        0
5    0        0

In [16]:
data_harga = pd.read_csv("ms_harga_harian.csv")
data_harga

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10
...,...,...,...,...,...,...
45013,PROD-0000037,2008-12-31 00:00:00,CABANG-065,5280,5060,70
45014,PROD-0000038,2008-12-31 00:00:00,CABANG-065,6270,5960,90
45015,PROD-0000039,2008-12-31 00:00:00,CABANG-065,5640,5350,130
45016,PROD-0000040,2008-12-31 00:00:00,CABANG-065,15380,14570,80
45017,PROD-0000041,2008-12-31 00:00:00,CABANG-065,14450,13600,90

In [17]:
print(data_harga.shape)
print(data_harga.columns)

(45018, 6)
Index(['kode_produk', 'tgl_berlaku', 'kode_cabang', 'harga_berlaku_cabang',
       'modal_cabang', 'biaya_cabang'],
      dtype='object')

In [18]:
data_harga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45018 entries, 0 to 45017
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   kode_produk           45018 non-null  object
 1   tgl_berlaku           45018 non-null  object
 2   kode_cabang           45018 non-null  object
 3   harga_berlaku_cabang  45018 non-null  int64
 4   modal_cabang          45018 non-null  int64
 5   biaya_cabang          45018 non-null  int64
dtypes: int64(3), object(3)
memory usage: 2.1+ MB

In [19]:
data_harga.describe()

       harga_berlaku_cabang   modal_cabang  biaya_cabang
count          45018.000000   45018.000000  45018.000000
mean           14124.498645   13417.638500    173.067440
std            19419.009070   18447.355772    293.769638
min              880.000000     830.000000      0.000000
25%             5040.000000    4780.000000     30.000000
50%             8140.000000    7740.000000     90.000000
75%            14930.000000   14160.000000    190.000000
max           107720.000000  102690.000000   2610.000000

In [20]:
data_harga.head() # untuk menampilkan 5 data teratas

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10

In [21]:
data_harga.tail() # untuk menampilkan 5 data terbawah

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
45013,PROD-0000037,2008-12-31 00:00:00,CABANG-065,5280,5060,70
45014,PROD-0000038,2008-12-31 00:00:00,CABANG-065,6270,5960,90
45015,PROD-0000039,2008-12-31 00:00:00,CABANG-065,5640,5350,130
45016,PROD-0000040,2008-12-31 00:00:00,CABANG-065,15380,14570,80
45017,PROD-0000041,2008-12-31 00:00:00,CABANG-065,14450,13600,90

In [22]:
data_harga [2:12:2] # dimulai dari 2 hingga 12 dengan selisih 2

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80
10,PROD-0000011,2008-01-01 00:00:00,CABANG-039,1210,1150,30

In [23]:
df5000 = data_harga[(data_harga['modal_cabang']<5000)] # menampilkan harga modal cabang yang kurang dari 5000
df5000

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20
7,PROD-0000008,2008-01-01 00:00:00,CABANG-039,1060,1000,0
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80
9,PROD-0000010,2008-01-01 00:00:00,CABANG-039,1100,1040,30
...,...,...,...,...,...,...
44988,PROD-0000012,2008-12-31 00:00:00,CABANG-065,3720,3520,80
44993,PROD-0000017,2008-12-31 00:00:00,CABANG-065,1310,1250,10
45002,PROD-0000026,2008-12-31 00:00:00,CABANG-065,910,870,20
45006,PROD-0000030,2008-12-31 00:00:00,CABANG-065,4240,4040,0
45008,PROD-0000032,2008-12-31 00:00:00,CABANG-065,5210,4970,30

In [24]:
# df5000['kode_cabang'].unique() # untuk mengentahui cabang yang memiliki modal cabang yang kurang dari 5000
(df5000['kode_produk'].unique()) # untuk mengentahui cabang yang memiliki modal cabang yang kurang dari 5000

array(['PROD-0000002', 'PROD-0000007', 'PROD-0000008', 'PROD-0000009',
       'PROD-0000010', 'PROD-0000011', 'PROD-0000012', 'PROD-0000017',
       'PROD-0000020', 'PROD-0000026', 'PROD-0000030', 'PROD-0000032',
       'PROD-0000037'], dtype=object)

In [25]:
data_harga['tambahan_modal'] = data_harga['modal_cabang'] + 5000
data_harga.head()

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang,tambahan_modal
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190,15380
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10,9040
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90,10900
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60,12620
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10,11860

$$DATA-PRODUK$$

In [29]:
data_produk = pd.read_csv("ms_produk.csv")
data_produk

,kode_produk,kode_kategori,nama_produk,unit,kode_satuan
0,PROD-0000001,KTG-003,bawang merah 1kg,1,kg
1,PROD-0000002,KTG-003,bawang putih 1 kg,1,kg
2,PROD-0000003,KTG-003,buncis 1 kg,1,kg
3,PROD-0000004,KTG-003,kacang panjang 1 kg,1,kg
4,PROD-0000005,KTG-003,kacang hijau 1 kg,1,kg
5,PROD-0000006,KTG-003,kentang 1 kg,1,kg
6,PROD-0000007,KTG-003,ketimun 1 kg,1,kg
7,PROD-0000008,KTG-003,kobis 1 kg,1,kg
8,PROD-0000009,KTG-003,tomat 1 kg,1,kg
9,PROD-0000010,KTG-003,ubi kayu basah 1 kg,1,kg
10,PROD-0000011,KTG-003,ubi jalar 1 kg,1,kg
11,PROD-0000012,KTG-003,wortel 1 kg,1,kg
12,PROD-0000013,KTG-002,susu kotak (800 ml),1,ktk
13,PROD-0000014,KTG-002,telur ayam ras 1 kg,1,kg
14,PROD-0000015,KTG-002,telur ayam kampung 1 kg,1,kg
15,PROD-0000016,KTG-002,mie instant 1 kotak (40 bungkus),40,bks
16,PROD-0000017,KTG-002,air mineral 600 ml,1,btl
17,PROD-0000018,KTG-002,jus kesehatan 600 ml,1,btl
18,PROD-0000019,KTG-002,nasi goreng instant (1 ons),1,bks
19,PROD-0000020,KTG-002,snack gurih 1 ons,1,ons
20,PROD-0000021,KTG-002,kacang goreng 1 kg,1,kg
21,PROD-0000022,KTG-002,kacang mete 1 kg,1,kg
22,PROD-0000023,KTG-002,markisa 600 ml,1,btl
23,PROD-0000024,KTG-002,bumbu fried chicken,1,bks
24,PROD-0000025,KTG-002,susu kotak 1 l,1,btl
25,PROD-0000026,KTG-002,minuman probiotik,1,btl
26,PROD-0000027,KTG-001,jeruk 1 kg,1,kg
27,PROD-0000028,KTG-001,apel 1 kg,1,kg
28,PROD-0000029,KTG-001,alpukat 1 kg,1,kg
29,PROD-0000030,KTG-001,belimbing 1 kg,1,kg
30,PROD-0000031,KTG-001,durian 1 kg,1,kg
31,PROD-0000032,KTG-001,kelapa muda,1,buah
32,PROD-0000033,KTG-001,mangga 1 kg,1,kg
33,PROD-0000034,KTG-001,Manggis 1 kg,1,kg
34,PROD-0000035,KTG-001,nenas 1 kg,1,kg
35,PROD-0000036,KTG-001,nangka 1 kg,1,kg
36,PROD-0000037,KTG-001,pepaya 1 buah,1,buah
37,PROD-0000038,KTG-001,pisang 1 sisir,1,ssr
38,PROD-0000039,KTG-001,rambutan 1 kg,1,kg
39,PROD-0000040,KTG-001,salak 1 kg,1,kg
40,PROD-0000041,KTG-001,semangka 1 buah,1,buah

$$TUGAS$$

Dalam DataFrame `data` tambahkan kolom `nama produk`

In [39]:
data_harga['nama produk'] = produk['nama_produk']
data_harga[0:42]

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang,tambahan_modal,nama produk
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190,15380,bawang merah 1kg
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10,9040,bawang putih 1 kg
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90,10900,buncis 1 kg
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60,12620,kacang panjang 1 kg
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10,11860,kacang hijau 1 kg
5,PROD-0000006,2008-01-01 00:00:00,CABANG-039,8110,7770,10,12770,kentang 1 kg
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20,9440,ketimun 1 kg
7,PROD-0000008,2008-01-01 00:00:00,CABANG-039,1060,1000,0,6000,kobis 1 kg
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80,9500,tomat 1 kg
9,PROD-0000010,2008-01-01 00:00:00,CABANG-039,1100,1040,30,6040,ubi kayu basah 1 kg
10,PROD-0000011,2008-01-01 00:00:00,CABANG-039,1210,1150,30,6150,ubi jalar 1 kg
11,PROD-0000012,2008-01-01 00:00:00,CABANG-039,3440,3250,30,8250,wortel 1 kg
12,PROD-0000013,2008-01-01 00:00:00,CABANG-039,12280,11620,120,16620,susu kotak (800 ml)
13,PROD-0000014,2008-01-01 00:00:00,CABANG-039,11520,11060,60,16060,telur ayam ras 1 kg
14,PROD-0000015,2008-01-01 00:00:00,CABANG-039,18880,17940,10,22940,telur ayam kampung 1 kg
15,PROD-0000016,2008-01-01 00:00:00,CABANG-039,96580,91220,630,96220,mie instant 1 kotak (40 bungkus)
16,PROD-0000017,2008-01-01 00:00:00,CABANG-039,1200,1150,20,6150,air mineral 600 ml
17,PROD-0000018,2008-01-01 00:00:00,CABANG-039,8960,8510,170,13510,jus kesehatan 600 ml
18,PROD-0000019,2008-01-01 00:00:00,CABANG-039,6060,5760,100,10760,nasi goreng instant (1 ons)
19,PROD-0000020,2008-01-01 00:00:00,CABANG-039,5240,4990,70,9990,snack gurih 1 ons
20,PROD-0000021,2008-01-01 00:00:00,CABANG-039,12100,11500,210,16500,kacang goreng 1 kg
21,PROD-0000022,2008-01-01 00:00:00,CABANG-039,70280,67180,980,72180,kacang mete 1 kg
22,PROD-0000023,2008-01-01 00:00:00,CABANG-039,14170,13400,340,18400,markisa 600 ml
23,PROD-0000024,2008-01-01 00:00:00,CABANG-039,14940,14190,340,19190,bumbu fried chicken
24,PROD-0000025,2008-01-01 00:00:00,CABANG-039,10160,9690,0,14690,susu kotak 1 l
25,PROD-0000026,2008-01-01 00:00:00,CABANG-039,900,860,10,5860,minuman probiotik
26,PROD-0000027,2008-01-01 00:00:00,CABANG-039,12140,11500,90,16500,jeruk 1 kg
27,PROD-0000028,2008-01-01 00:00:00,CABANG-039,54670,52460,1340,57460,apel 1 kg
28,PROD-0000029,2008-01-01 00:00:00,CABANG-039,6060,5760,130,10760,alpukat 1 kg
29,PROD-0000030,2008-01-01 00:00:00,CABANG-039,4010,3810,80,8810,belimbing 1 kg
30,PROD-0000031,2008-01-01 00:00:00,CABANG-039,18030,16960,60,21960,durian 1 kg
31,PROD-0000032,2008-01-01 00:00:00,CABANG-039,5040,4790,60,9790,kelapa muda
32,PROD-0000033,2008-01-01 00:00:00,CABANG-039,15690,14900,90,19900,mangga 1 kg
33,PROD-0000034,2008-01-01 00:00:00,CABANG-039,19720,18670,170,23670,Manggis 1 kg
34,PROD-0000035,2008-01-01 00:00:00,CABANG-039,6050,5690,20,10690,nenas 1 kg
35,PROD-0000036,2008-01-01 00:00:00,CABANG-039,30060,28850,570,33850,nangka 1 kg
36,PROD-0000037,2008-01-01 00:00:00,CABANG-039,4990,4740,20,9740,pepaya 1 buah
37,PROD-0000038,2008-01-01 00:00:00,CABANG-039,5990,5680,90,10680,pisang 1 sisir
38,PROD-0000039,2008-01-01 00:00:00,CABANG-039,5480,5170,130,10170,rambutan 1 kg
39,PROD-0000040,2008-01-01 00:00:00,CABANG-039,15090,14310,220,19310,salak 1 kg
40,PROD-0000041,2008-01-01 00:00:00,CABANG-039,12870,12320,30,17320,semangka 1 buah
41,PROD-0000001,2008-01-02 00:00:00,CABANG-039,11070,10550,60,15550,NaN

In [40]:
# jumlah seluruh harga yang berlaku
data_harga.loc[(data_harga['kode_produk'] >= "PROD-0000001") & (data_harga['kode_produk'] <= "PROD-0000041"), 'harga_berlaku_cabang'].sum()

635856680

Buat DataFrame `jumlah_produk` yang menunjukan jumlah produk 1 sampai 41 beserta total harga

In [44]:
result = []
for i in range(1, 41):
    kode_produk = f"PROD-00000{1:02d}"
    total_harga = sum(data_harga[(data_harga['kode_produk'] == kode_produk)]['harga_berlaku_cabang'])
    result.append({'kode_produk': kode_produk, 'total_harga': total_harga})

df = pd.DataFrame(result)
print(df)

data_harga['total'] = df['total_harga']
data_harga.head(42)

     kode_produk  total_harga
0   PROD-0000001     12723420
1   PROD-0000001     12723420
2   PROD-0000001     12723420
3   PROD-0000001     12723420
4   PROD-0000001     12723420
5   PROD-0000001     12723420
6   PROD-0000001     12723420
7   PROD-0000001     12723420
8   PROD-0000001     12723420
9   PROD-0000001     12723420
10  PROD-0000001     12723420
11  PROD-0000001     12723420
12  PROD-0000001     12723420
13  PROD-0000001     12723420
14  PROD-0000001     12723420
15  PROD-0000001     12723420
16  PROD-0000001     12723420
17  PROD-0000001     12723420
18  PROD-0000001     12723420
19  PROD-0000001     12723420
20  PROD-0000001     12723420
21  PROD-0000001     12723420
22  PROD-0000001     12723420
23  PROD-0000001     12723420
24  PROD-0000001     12723420
25  PROD-0000001     12723420
26  PROD-0000001     12723420
27  PROD-0000001     12723420
28  PROD-0000001     12723420
29  PROD-0000001     12723420
30  PROD-0000001     12723420
31  PROD-0000001     12723420
32  PROD-0000001     12723420
33  PROD-0000001     12723420
34  PROD-0000001     12723420
35  PROD-0000001     12723420
36  PROD-0000001     12723420
37  PROD-0000001     12723420
38  PROD-0000001     12723420
39  PROD-0000001     12723420

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang,tambahan_modal,nama produk,total
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190,15380,bawang merah 1kg,12723420.0
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10,9040,bawang putih 1 kg,12723420.0
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90,10900,buncis 1 kg,12723420.0
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60,12620,kacang panjang 1 kg,12723420.0
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10,11860,kacang hijau 1 kg,12723420.0
5,PROD-0000006,2008-01-01 00:00:00,CABANG-039,8110,7770,10,12770,kentang 1 kg,12723420.0
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20,9440,ketimun 1 kg,12723420.0
7,PROD-0000008,2008-01-01 00:00:00,CABANG-039,1060,1000,0,6000,kobis 1 kg,12723420.0
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80,9500,tomat 1 kg,12723420.0
9,PROD-0000010,2008-01-01 00:00:00,CABANG-039,1100,1040,30,6040,ubi kayu basah 1 kg,12723420.0
10,PROD-0000011,2008-01-01 00:00:00,CABANG-039,1210,1150,30,6150,ubi jalar 1 kg,12723420.0
11,PROD-0000012,2008-01-01 00:00:00,CABANG-039,3440,3250,30,8250,wortel 1 kg,12723420.0
12,PROD-0000013,2008-01-01 00:00:00,CABANG-039,12280,11620,120,16620,susu kotak (800 ml),12723420.0
13,PROD-0000014,2008-01-01 00:00:00,CABANG-039,11520,11060,60,16060,telur ayam ras 1 kg,12723420.0
14,PROD-0000015,2008-01-01 00:00:00,CABANG-039,18880,17940,10,22940,telur ayam kampung 1 kg,12723420.0
15,PROD-0000016,2008-01-01 00:00:00,CABANG-039,96580,91220,630,96220,mie instant 1 kotak (40 bungkus),12723420.0
16,PROD-0000017,2008-01-01 00:00:00,CABANG-039,1200,1150,20,6150,air mineral 600 ml,12723420.0
17,PROD-0000018,2008-01-01 00:00:00,CABANG-039,8960,8510,170,13510,jus kesehatan 600 ml,12723420.0
18,PROD-0000019,2008-01-01 00:00:00,CABANG-039,6060,5760,100,10760,nasi goreng instant (1 ons),12723420.0
19,PROD-0000020,2008-01-01 00:00:00,CABANG-039,5240,4990,70,9990,snack gurih 1 ons,12723420.0
20,PROD-0000021,2008-01-01 00:00:00,CABANG-039,12100,11500,210,16500,kacang goreng 1 kg,12723420.0
21,PROD-0000022,2008-01-01 00:00:00,CABANG-039,70280,67180,980,72180,kacang mete 1 kg,12723420.0
22,PROD-0000023,2008-01-01 00:00:00,CABANG-039,14170,13400,340,18400,markisa 600 ml,12723420.0
23,PROD-0000024,2008-01-01 00:00:00,CABANG-039,14940,14190,340,19190,bumbu fried chicken,12723420.0
24,PROD-0000025,2008-01-01 00:00:00,CABANG-039,10160,9690,0,14690,susu kotak 1 l,12723420.0
25,PROD-0000026,2008-01-01 00:00:00,CABANG-039,900,860,10,5860,minuman probiotik,12723420.0
26,PROD-0000027,2008-01-01 00:00:00,CABANG-039,12140,11500,90,16500,jeruk 1 kg,12723420.0
27,PROD-0000028,2008-01-01 00:00:00,CABANG-039,54670,52460,1340,57460,apel 1 kg,12723420.0
28,PROD-0000029,2008-01-01 00:00:00,CABANG-039,6060,5760,130,10760,alpukat 1 kg,12723420.0
29,PROD-0000030,2008-01-01 00:00:00,CABANG-039,4010,3810,80,8810,belimbing 1 kg,12723420.0
30,PROD-0000031,2008-01-01 00:00:00,CABANG-039,18030,16960,60,21960,durian 1 kg,12723420.0
31,PROD-0000032,2008-01-01 00:00:00,CABANG-039,5040,4790,60,9790,kelapa muda,12723420.0
32,PROD-0000033,2008-01-01 00:00:00,CABANG-039,15690,14900,90,19900,mangga 1 kg,12723420.0
33,PROD-0000034,2008-01-01 00:00:00,CABANG-039,19720,18670,170,23670,Manggis 1 kg,12723420.0
34,PROD-0000035,2008-01-01 00:00:00,CABANG-039,6050,5690,20,10690,nenas 1 kg,12723420.0
35,PROD-0000036,2008-01-01 00:00:00,CABANG-039,30060,28850,570,33850,nangka 1 kg,12723420.0
36,PROD-0000037,2008-01-01 00:00:00,CABANG-039,4990,4740,20,9740,pepaya 1 buah,12723420.0
37,PROD-0000038,2008-01-01 00:00:00,CABANG-039,5990,5680,90,10680,pisang 1 sisir,12723420.0
38,PROD-0000039,2008-01-01 00:00:00,CABANG-039,5480,5170,130,10170,rambutan 1 kg,12723420.0
39,PROD-0000040,2008-01-01 00:00:00,CABANG-039,15090,14310,220,19310,salak 1 kg,12723420.0
40,PROD-0000041,2008-01-01 00:00:00,CABANG-039,12870,12320,30,17320,semangka 1 buah,NaN
41,PROD-0000001,2008-01-02 00:00:00,CABANG-039,11070,10550,60,15550,NaN,NaN

In [45]:
results = []
for i in range(1, 4):
    kode_produk = f"PROD-00000{1:02d}"
    total_harga = len(data_harga[(data_harga['kode_produk'] == kode_produk)])
    results.append({'kode_produk': kode_produk, 'total_produk': total_harga})

df = pd.DataFrame(results)
print(df)

data_harga['jumlah_produk'] = df['total_produk']
data_harga.head(42)

    kode_produk  total_produk
0  PROD-0000001          1098
1  PROD-0000001          1098
2  PROD-0000001          1098

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang,tambahan_modal,nama produk,total,jumlah_produk
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190,15380,bawang merah 1kg,12723420.0,1098.0
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10,9040,bawang putih 1 kg,12723420.0,1098.0
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90,10900,buncis 1 kg,12723420.0,1098.0
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60,12620,kacang panjang 1 kg,12723420.0,NaN
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10,11860,kacang hijau 1 kg,12723420.0,NaN
5,PROD-0000006,2008-01-01 00:00:00,CABANG-039,8110,7770,10,12770,kentang 1 kg,12723420.0,NaN
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20,9440,ketimun 1 kg,12723420.0,NaN
7,PROD-0000008,2008-01-01 00:00:00,CABANG-039,1060,1000,0,6000,kobis 1 kg,12723420.0,NaN
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80,9500,tomat 1 kg,12723420.0,NaN
9,PROD-0000010,2008-01-01 00:00:00,CABANG-039,1100,1040,30,6040,ubi kayu basah 1 kg,12723420.0,NaN
10,PROD-0000011,2008-01-01 00:00:00,CABANG-039,1210,1150,30,6150,ubi jalar 1 kg,12723420.0,NaN
11,PROD-0000012,2008-01-01 00:00:00,CABANG-039,3440,3250,30,8250,wortel 1 kg,12723420.0,NaN
12,PROD-0000013,2008-01-01 00:00:00,CABANG-039,12280,11620,120,16620,susu kotak (800 ml),12723420.0,NaN
13,PROD-0000014,2008-01-01 00:00:00,CABANG-039,11520,11060,60,16060,telur ayam ras 1 kg,12723420.0,NaN
14,PROD-0000015,2008-01-01 00:00:00,CABANG-039,18880,17940,10,22940,telur ayam kampung 1 kg,12723420.0,NaN
15,PROD-0000016,2008-01-01 00:00:00,CABANG-039,96580,91220,630,96220,mie instant 1 kotak (40 bungkus),12723420.0,NaN
16,PROD-0000017,2008-01-01 00:00:00,CABANG-039,1200,1150,20,6150,air mineral 600 ml,12723420.0,NaN
17,PROD-0000018,2008-01-01 00:00:00,CABANG-039,8960,8510,170,13510,jus kesehatan 600 ml,12723420.0,NaN
18,PROD-0000019,2008-01-01 00:00:00,CABANG-039,6060,5760,100,10760,nasi goreng instant (1 ons),12723420.0,NaN
19,PROD-0000020,2008-01-01 00:00:00,CABANG-039,5240,4990,70,9990,snack gurih 1 ons,12723420.0,NaN
20,PROD-0000021,2008-01-01 00:00:00,CABANG-039,12100,11500,210,16500,kacang goreng 1 kg,12723420.0,NaN
21,PROD-0000022,2008-01-01 00:00:00,CABANG-039,70280,67180,980,72180,kacang mete 1 kg,12723420.0,NaN
22,PROD-0000023,2008-01-01 00:00:00,CABANG-039,14170,13400,340,18400,markisa 600 ml,12723420.0,NaN
23,PROD-0000024,2008-01-01 00:00:00,CABANG-039,14940,14190,340,19190,bumbu fried chicken,12723420.0,NaN
24,PROD-0000025,2008-01-01 00:00:00,CABANG-039,10160,9690,0,14690,susu kotak 1 l,12723420.0,NaN
25,PROD-0000026,2008-01-01 00:00:00,CABANG-039,900,860,10,5860,minuman probiotik,12723420.0,NaN
26,PROD-0000027,2008-01-01 00:00:00,CABANG-039,12140,11500,90,16500,jeruk 1 kg,12723420.0,NaN
27,PROD-0000028,2008-01-01 00:00:00,CABANG-039,54670,52460,1340,57460,apel 1 kg,12723420.0,NaN
28,PROD-0000029,2008-01-01 00:00:00,CABANG-039,6060,5760,130,10760,alpukat 1 kg,12723420.0,NaN
29,PROD-0000030,2008-01-01 00:00:00,CABANG-039,4010,3810,80,8810,belimbing 1 kg,12723420.0,NaN
30,PROD-0000031,2008-01-01 00:00:00,CABANG-039,18030,16960,60,21960,durian 1 kg,12723420.0,NaN
31,PROD-0000032,2008-01-01 00:00:00,CABANG-039,5040,4790,60,9790,kelapa muda,12723420.0,NaN
32,PROD-0000033,2008-01-01 00:00:00,CABANG-039,15690,14900,90,19900,mangga 1 kg,12723420.0,NaN
33,PROD-0000034,2008-01-01 00:00:00,CABANG-039,19720,18670,170,23670,Manggis 1 kg,12723420.0,NaN
34,PROD-0000035,2008-01-01 00:00:00,CABANG-039,6050,5690,20,10690,nenas 1 kg,12723420.0,NaN
35,PROD-0000036,2008-01-01 00:00:00,CABANG-039,30060,28850,570,33850,nangka 1 kg,12723420.0,NaN
36,PROD-0000037,2008-01-01 00:00:00,CABANG-039,4990,4740,20,9740,pepaya 1 buah,12723420.0,NaN
37,PROD-0000038,2008-01-01 00:00:00,CABANG-039,5990,5680,90,10680,pisang 1 sisir,12723420.0,NaN
38,PROD-0000039,2008-01-01 00:00:00,CABANG-039,5480,5170,130,10170,rambutan 1 kg,12723420.0,NaN
39,PROD-0000040,2008-01-01 00:00:00,CABANG-039,15090,14310,220,19310,salak 1 kg,12723420.0,NaN
40,PROD-0000041,2008-01-01 00:00:00,CABANG-039,12870,12320,30,17320,semangka 1 buah,NaN,NaN
41,PROD-0000001,2008-01-02 00:00:00,CABANG-039,11070,10550,60,15550,NaN,NaN,NaN